<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./index.css">
    <script type="text/javascript" src="./index.js"></script>
</head>

<body>
    <div class="container">
        <div id="menu">
            <div id="menu-bar">
                <div class="menu-bar-item">File </div>
            </div>
            <div id="menu-container">
                    <div id="new">New</div>
                    <div id="open">Open</div>
                    <div id="save">Save</div>
                </div>
            </div>
        </div>
        <div id="formula-bar">formula bar</div>
        <div id="content-container">

            <div id="top-left-cell"></div>
            <div id="top-row">
                <% for(let j=0; j<cols; j++) {%>
                <div class="cell"><%= String.fromCharCode(j+65) %></div>
                <% } %>
            </div>
            <div id="left-col">
                <% for(let i=1; i<=rows; i++) {%>
                <div class="cell"><%= i %></div>
                <% } %>
            </div>
            <div id="grid">
                <% for(let i=0;i < rows; i++) {%>
                <div class="row">
                    <% for(let j=0; j<cols; j++) {%>
                    <div class="cell" contenteditable="true" row-id=<%=i%> col-id=<%=j%>></div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div id="sheets-bar">sheets bar</div>
        <div></div>
        <div></div>
    </div>

</body>

</html>